**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
jflex-1.8.2/
cup/
*.tar.gz
/Errores_201806838
/AFD_201806838
/Transitions_201806838
/Follows_201806838
/Tree_201806838
*.html